
@import '_variables';
@import '_mixins';

* {
  margin: 0;
}

body {
  background: $primary-background;
  font-family: $font;
  // background-image: url("../images/tree.jpg");
}

header {
  @include flexbox(row, normal, nowrap, space-between, normal);
}

.header-btn {
  padding: 10px;
  background: none;
  border: none;
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
}

.martini-glass {
  height: 37px;
  width: 45px;
  // margin-right: 300px;
}

//LOGIN PAGE
.login-page {
  @include flexbox(column, normal, nowrap, normal, center);
}

.login-form {
  margin-top: 40px;
  padding: 15px;
}


// BOOKING SECTION
.booking-section {
  @include flexbox(column, normal, nowrap, normal, center);
  margin: 70px 340px 0 340px;
  padding: 60px 0 60px 0;
  border: thick double black;
}

.book-room-radio-btn {
  @include flexbox(column, normal, nowrap, normal, normal);
}

// PROFILE PAGE
.profile-page {
  @include flexbox(row, normal, nowrap, center, normal);
}

.future-trips {
  border: thick double black;
  height: 80vh;
  width: 90vh;
  margin: 30px 30px 0 0;
  overflow: scroll;
  background-color: $second-background;
}

.past-trips {
  border: thick double black;
  height: 80vh;
  width: 60vh;
  margin-top: 30px;
  overflow: scroll;
  background-color: $second-background;
}

.future-trip-card {
  margin: 10px;
}

.total-cost-area {
  font-size: 30px;
  text-align: center;
}


.hidden {
  display: none;
}

