/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
  background: $primary-background;
  font-family: $font;
  // background-image: url("../images/tree.jpg");
}

header {
  display: flex;
  justify-content: space-between;
}

.booking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

